{"openapi":"3.1.0","info":{"title":"Cakemail API","description":"The Cakemail API exposes multiple APIs including Authentication, Marketing, Contact, Transactional, Analytic, Content, Account and Partner.","version":"1.18.25"},"servers":[{"url":"https://api.cakemail.dev"}],"paths":{"/accounts/self":{"get":{"tags":["Account"],"summary":"Show my account details","operationId":"getSelfAccount","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Account"],"summary":"Update my account","operationId":"patchSelfAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchSelfAccount"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/accounts/self/convert-to-organization":{"post":{"tags":["Account"],"summary":"Convert my account to an Organization","operationId":"convertSelfAccountToOrganization","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions":{"get":{"tags":["Action"],"summary":"List actions","operationId":"listActions","parameters":[{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Action"],"summary":"Create an action","operationId":"createAction","parameters":[{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"type":"string","pattern":"^[a-zA-Z0-9-_]{8,}$","title":"lock_key","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns":{"get":{"tags":["Campaign"],"summary":"Show all campaigns","operationId":"listCampaigns","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `name`\n  - `type`\n  - `list_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"type":"string","title":"filter","description":"Valid Terms:\n  - `status`\n  - `name`\n  - `type`\n  - `list_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`\n  - `scheduled_for`\n  - `scheduled_on`\n  - `updated_on`\n  - `type`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`\n  - `scheduled_for`\n  - `scheduled_on`\n  - `updated_on`\n  - `type`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Campaign"],"summary":"Create a campaign","operationId":"createCampaign","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaign"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}":{"get":{"tags":["Campaign"],"summary":"Show a campaign details","operationId":"getCampaign","parameters":[{"required":true,"schema":{"type":"integer","title":"campaign_id"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"type":"integer","title":"revision_id"},"name":"revision_id","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Campaign"],"summary":"Delete a campaign","operationId":"deleteCampaign","parameters":[{"required":true,"schema":{"type":"integer","title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Campaign"],"summary":"Update a campaign","operationId":"patchCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCampaign"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}}}