{"openapi":"3.1.0","info":{"title":"Cakemail API","description":"The Cakemail API exposes multiple APIs including Authentication, Marketing, Contact, Transactional, Analytic, Content, Account and Partner.","version":"1.18.25"},"servers":[{"url":"https://api.cakemail.dev"}],"paths":{"/accounts/self":{"get":{"tags":["Account"],"summary":"Show my account details","operationId":"getSelfAccount","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Account"],"summary":"Update my account","operationId":"patchSelfAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchSelfAccount"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/accounts/self/convert-to-organization":{"post":{"tags":["Account"],"summary":"Convert my account to an Organization","operationId":"convertSelfAccountToOrganization","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions":{"get":{"tags":["Action"],"summary":"List actions","operationId":"listActions","parameters":[{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Action"],"summary":"Create an action","operationId":"createAction","parameters":[{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"type":"string","pattern":"^[a-zA-Z0-9-_]{8,}$","title":"lock_key","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions/{action_id}":{"get":{"tags":["Action"],"summary":"Get an action","operationId":"getAction","parameters":[{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"required":true,"schema":{"type":"string","title":"action_id"},"name":"action_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"type":"string","pattern":"^[a-zA-Z0-9-_]{8,}$","title":"lock_key","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Action"],"summary":"Delete an action","operationId":"deleteAction","parameters":[{"required":true,"schema":{"type":"string","title":"action_id"},"name":"action_id","in":"path"},{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"type":"string","pattern":"^[a-zA-Z0-9-_]{8,}$","title":"lock_key","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Action"],"summary":"Update an action","operationId":"patchAction","parameters":[{"required":true,"schema":{"type":"string","title":"action_id"},"name":"action_id","in":"path"},{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"type":"string","pattern":"^[a-zA-Z0-9-_]{8,}$","title":"lock_key","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAction"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions/{action_id}/render":{"get":{"tags":["Action"],"summary":"Render an action","operationId":"renderAction","parameters":[{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"required":true,"schema":{"type":"string","title":"action_id"},"name":"action_id","in":"path"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"type":"string","pattern":"^[a-zA-Z0-9-_]{8,}$","title":"lock_key","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"text/html":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions/{action_id}/send-test":{"post":{"tags":["Action"],"summary":"Send a test of an action","operationId":"sendTestAction","parameters":[{"required":true,"schema":{"type":"string","title":"workflow_id"},"name":"workflow_id","in":"path"},{"required":true,"schema":{"type":"string","title":"action_id"},"name":"action_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"type":"string","pattern":"^[a-zA-Z0-9-_]{8,}$","title":"lock_key","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestAction"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns":{"get":{"tags":["Campaign"],"summary":"Show all campaigns","operationId":"listCampaigns","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `name`\n  - `type`\n  - `list_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"type":"string","title":"filter","description":"Valid Terms:\n  - `status`\n  - `name`\n  - `type`\n  - `list_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`\n  - `scheduled_for`\n  - `scheduled_on`\n  - `updated_on`\n  - `type`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`\n  - `scheduled_for`\n  - `scheduled_on`\n  - `updated_on`\n  - `type`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Campaign"],"summary":"Create a campaign","operationId":"createCampaign","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaign"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}":{"get":{"tags":["Campaign"],"summary":"Show a campaign details","operationId":"getCampaign","parameters":[{"required":true,"schema":{"type":"integer","title":"campaign_id"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"type":"integer","title":"revision_id"},"name":"revision_id","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Campaign"],"summary":"Delete a campaign","operationId":"deleteCampaign","parameters":[{"required":true,"schema":{"type":"integer","title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Campaign"],"summary":"Update a campaign","operationId":"patchCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCampaign"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/render":{"get":{"tags":["Campaign"],"summary":"Render a campaign","operationId":"renderCampaign","parameters":[{"required":true,"schema":{"type":"integer","title":"campaign_id"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenderCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/send-test":{"post":{"tags":["Campaign"],"summary":"Send a test email","operationId":"sendTestEmail","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestEmail"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestEmailResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/schedule":{"post":{"tags":["Campaign"],"summary":"Schedule a campaign","operationId":"scheduleCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaign"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/unschedule":{"post":{"tags":["Campaign"],"summary":"Unschedule a campaign","operationId":"unscheduleCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/reschedule":{"post":{"tags":["Campaign"],"summary":"Reschedule a campaign","operationId":"rescheduleCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaign"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/suspend":{"post":{"tags":["Campaign"],"summary":"Suspend a campaign","operationId":"suspendCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuspendCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/resume":{"post":{"tags":["Campaign"],"summary":"Resume a campaign","operationId":"resumeCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResumeCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/cancel":{"post":{"tags":["Campaign"],"summary":"Cancel a campaign","operationId":"cancelCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/archive":{"post":{"tags":["Campaign"],"summary":"Archive a campaign","description":"You can only delete a campaign when the status is draft. However, if you want to remove a campaign from your list of active campaigns, you can archive it.","operationId":"archiveCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArchiveCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/unarchive":{"post":{"tags":["Campaign"],"summary":"Unarchive a campaign","operationId":"unarchiveCampaign","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArchiveCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/revisions":{"get":{"tags":["Campaign"],"summary":"Show all campaign revisions","operationId":"getCampaignRevisions","parameters":[{"required":true,"schema":{"type":"integer","title":"campaign_id"},"name":"campaign_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignRevisionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaign-blueprints":{"get":{"tags":["Campaign Blueprint"],"summary":"Show all campaign blueprints","operationId":"listCampaignBlueprints","parameters":[{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `tag`\n  - `name`\n  - `is_owner`\n  - `is_not_owner`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"type":"string","title":"filter","description":"Valid Terms:\n  - `tag`\n  - `name`\n  - `is_owner`\n  - `is_not_owner`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `created_on`\n  - `updated_on`\n  - `name`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `created_on`\n  - `updated_on`\n  - `name`","default":"id"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignBlueprintsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaign-blueprints/{blueprint_id}":{"get":{"tags":["Campaign Blueprint"],"summary":"Get a campaign blueprint","operationId":"getCampaignBlueprint","parameters":[{"required":true,"schema":{"type":"integer","title":"blueprint_id"},"name":"blueprint_id","in":"path"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignBlueprintResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaign-blueprints/{blueprint_id}/render":{"get":{"tags":["Campaign Blueprint"],"summary":"Render campaign blueprint","operationId":"renderCampaignBlueprint","parameters":[{"required":true,"schema":{"type":"integer","title":"blueprint_id"},"name":"blueprint_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"text/html":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/lists/{list_id}/contacts/add-interests":{"post":{"tags":["Contact"],"summary":"Add interest(s) to contact(s)","operationId":"addInterestsToContacts","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddInterestsToContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddInterestsToMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts":{"get":{"tags":["Contact"],"summary":"Show contacts of a list","operationId":"listContactsOfList","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"SQL selection query (only use one of query, fiql and json)","required":false,"schema":{"type":"string","title":"query","description":"SQL selection query (only use one of query, fiql and json)"},"name":"query","in":"query"},{"description":"JSON selection expression (only use one of query, fiql and json)","required":false,"schema":{"type":"string","format":"json-string","title":"json","description":"JSON selection expression (only use one of query, fiql and json)"},"name":"json","in":"query"},{"description":"Cursor pagination","required":false,"schema":{"type":"string","title":"cursor","description":"Cursor pagination"},"name":"cursor","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`"},"name":"sort","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"type":"string","title":"filter","description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"required":false,"schema":{"type":"string","title":"fiql"},"name":"fiql","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Contact"],"summary":"Add a contact","operationId":"createContact","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/DoubleOptIn"}],"default":"false","title":"send_double_opt_in"},"name":"send_double_opt_in","in":"query"},{"required":false,"schema":{"type":"boolean","title":"resubscribe","default":true},"name":"resubscribe","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/segments/{segment_id}/contacts":{"get":{"tags":["Contact"],"summary":"Show contacts of a segment","operationId":"listContactsOfSegment","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"segment_id"},"name":"segment_id","in":"path"},{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"SQL selection query (only use one of query, fiql and json)","required":false,"schema":{"type":"string","title":"query","description":"SQL selection query (only use one of query, fiql and json)"},"name":"query","in":"query"},{"description":"JSON selection expression (only use one of query, fiql and json)","required":false,"schema":{"type":"string","format":"json-string","title":"json","description":"JSON selection expression (only use one of query, fiql and json)"},"name":"json","in":"query"},{"description":"Cursor pagination","required":false,"schema":{"type":"string","title":"cursor","description":"Cursor pagination"},"name":"cursor","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`"},"name":"sort","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"type":"string","title":"filter","description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"required":false,"schema":{"type":"string","title":"fiql"},"name":"fiql","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/tag":{"post":{"tags":["Contact"],"summary":"Tags multiple contacts","operationId":"tagMultipleContacts","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagMultipleContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/untag":{"post":{"tags":["Contact"],"summary":"Untags multiple contacts","operationId":"untagMultipleContacts","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UntagMultipleContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UntagMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}":{"get":{"tags":["Contact"],"summary":"Show a contact details","operationId":"getContact","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Contact"],"summary":"Delete a contact","operationId":"deleteContact","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Contact"],"summary":"Update a contact","operationId":"patchContact","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchContact"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/import-contacts":{"post":{"tags":["Contact"],"summary":"Import contacts","description":"Synchronize your own list with Cakemail by importing to your active, unsubscribed or delete contacts.","operationId":"importContacts","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/DoubleOptIn"}],"default":"false","title":"send_double_opt_in"},"name":"send_double_opt_in","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportContacts"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}/unsubscribe":{"post":{"tags":["Contact"],"summary":"Unsubscribe a contact from a list","operationId":"unsubscribeContact","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribeContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}/tag":{"post":{"tags":["Contact"],"summary":"Tags a contact","operationId":"tagContact","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}/untag":{"post":{"tags":["Contact"],"summary":"Untags a contact","operationId":"untagContact","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"contact_id"},"name":"contact_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UntagContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/remove-interests":{"post":{"tags":["Contact"],"summary":"Remove interest(s) from contact(s)","operationId":"removeInterestsFromContacts","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveInterestsFromContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveInterestsFromMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/custom-attributes":{"get":{"tags":["Custom Attribute"],"summary":"Show all custom attributes","operationId":"listCustomAttributes","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Custom Attribute"],"summary":"Create a custom attribute","operationId":"createCustomAttribute","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomAttribute"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAttributeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/custom-attributes/{name}":{"get":{"tags":["Custom Attribute"],"summary":"Show a custom attribute","operationId":"getCustomAttribute","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"required":true,"schema":{"type":"string","title":"name"},"name":"name","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Custom Attribute"],"summary":"Delete a custom attribute","operationId":"deleteCustomAttribute","parameters":[{"required":true,"schema":{"type":"integer","minimum":1.0,"title":"list_id"},"name":"list_id","in":"path"},{"description":"Cannot be one of the reserved terms: id, email, status, registered, bounce_type, bounce_count, tags, _tags","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9\\-_]+$","title":"name","description":"Cannot be one of the reserved terms: id, email, status, registered, bounce_type, bounce_count, tags, _tags"},"name":"name","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCustomAttributeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/dkim":{"get":{"tags":["DKIM"],"summary":"List Dkim Keys","operationId":"list_dkim_keys_brands_default_dkim_get","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DkimKeysResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["DKIM"],"summary":"Create Dkim Key","operationId":"create_dkim_key_brands_default_dkim_post","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDkim"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDkimResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/dkim/{id}":{"get":{"tags":["DKIM"],"summary":"Get Dkim Key","operationId":"get_dkim_key_brands_default_dkim__id__get","parameters":[{"required":true,"schema":{"type":"integer","title":"id"},"name":"id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DkimKeyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["DKIM"],"summary":"Delete Dkim Key","operationId":"delete_dkim_key_brands_default_dkim__id__delete","parameters":[{"required":true,"schema":{"type":"integer","title":"id"},"name":"id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDkimKeyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/domains/default":{"get":{"tags":["Domain"],"summary":"Show domains","description":"Show the Tracking and Bounce domains.","operationId":"showDomains","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Domain"],"summary":"Change domains","description":"Change the Tracking and Bounce domains.","operationId":"patchDomains","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDomains"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDomainsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/domains/default/validate":{"get":{"tags":["Domain"],"summary":"Validate domains","description":"Validate and return the DNS entries for the Tracking and the Bounce domains.","operationId":"validateDomains","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateDomainsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/emails":{"post":{"tags":["Transactional Email"],"summary":"Send an email","operationId":"sendEmail","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Email"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/reports/emails":{"get":{"tags":["Transactional Email"],"summary":"Show email stats","operationId":"getEmailsStats","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Start time for the report.","required":true,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"start_time","description":"Start time for the report."},"name":"start_time","in":"query"},{"description":"End time for the report.","required":true,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"end_time","description":"End time for the report."},"name":"end_time","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailStatsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/emails":{"get":{"tags":["Transactional Email"],"summary":"Show email activity logs","operationId":"getEmailLogs","parameters":[{"required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/LogType"}],"title":"log_type"},"name":"log_type","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"},{"description":"Start time for the report.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"start_time","description":"Start time for the report."},"name":"start_time","in":"query"},{"description":"End time for the report.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"end_time","description":"End time for the report."},"name":"end_time","in":"query"},{"description":"Valid Terms:\n  - `group_id`\n  - `email`\n  - `email_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"type":"string","title":"filter","description":"Valid Terms:\n  - `group_id`\n  - `email`\n  - `email_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailLogsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/email-group-ids":{"get":{"tags":["Transactional Email"],"summary":"List Email Group Ids","operationId":"listEmailGroupIds","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEmailGroupIdsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/email-group-ids/{group_id}":{"patch":{"tags":["Transactional Email"],"summary":"Edit an Email Group Id","operationId":"patchEmailGroupId","parameters":[{"description":"The ID of the group to edit","required":true,"schema":{"type":"integer","title":"group_id","description":"The ID of the group to edit"},"name":"group_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchEmailGroupId"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchEmailGroupIdResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/v2/emails":{"post":{"tags":["Email API"],"summary":"Submit an email","description":"Submit an email to be sent.\n\nEmail status lifecycle:\n- `submitted`: Email has been submitted to the API using this endpoint.\n- `queued`: Email has been queued for delivery.\n- `delivered`: Email has been successfully delivered.\n- `rejected`: Email has been rejected by the API.  See the `reason` in `metadata` for more information.\n- `error`: Email has encountered an error.  See the `error` in `metadata` for more information.\n- `open`: Email has been opened.\n- `click`: Email has been clicked.\n- `bounce`: Email has bounced.\n- `spam`: Email has been marked as spam.\n- `unsubscribe`: Email has been unsubscribed.\n- `global_unsubscribe`: Email has been globally unsubscribed (suppressed by user request).","operationId":"submitEmail","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitEmail"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitEmailResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v2/emails/{email_id}":{"get":{"tags":["Email API"],"summary":"Retrieve a submitted email","operationId":"showEmail","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"email_id"},"name":"email_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetEmailResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v2/emails/{email_id}/render":{"get":{"tags":["Email API"],"summary":"Render a submitted email","operationId":"renderEmail","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"email_id"},"name":"email_id","in":"path"},{"description":"Render the original submitted content of the email","required":false,"schema":{"type":"boolean","title":"as_submitted","description":"Render the original submitted content of the email","default":false},"name":"as_submitted","in":"query"},{"description":"Enable tracking","required":false,"schema":{"type":"boolean","title":"tracking","description":"Enable tracking","default":false},"name":"tracking","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"text/html":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/email-tags":{"get":{"tags":["Email API"],"summary":"List Email Tags","description":"Email Tags are used to group sent emails into a logical group or category.  This endpoint will return a list of\nall the Email Tags that have been created for the account.\n\nTo create a tag, specify its name at send time in the `tags` field of the email object.  If the tag does not exist,\nit will be created automatically.","operationId":"listEmailTags","parameters":[{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":true},"name":"with_count","in":"query"},{"description":"Tag name to filter by, with optional operator.\n\n#### Operators:\n==: Exact match (default)\n!=: Not equal\n~~: Like (anywhere in the email)\n!~: Not like (anywhere in the email)\n","required":false,"schema":{"type":"string","title":"name","description":"Tag name to filter by, with optional operator.\n\n#### Operators:\n==: Exact match (default)\n!=: Not equal\n~~: Like (anywhere in the email)\n!~: Not like (anywhere in the email)\n","examples":["tag1~~tag","!=tag","!~tag"]},"name":"name","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEmailTagsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v2/logs/emails":{"get":{"tags":["Email API"],"summary":"Show Email API activity logs","operationId":"getEmailAPILogs","parameters":[{"required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/LogTypeV2"}],"title":"log_type","default":"all"},"name":"log_type","in":"query"},{"required":false,"schema":{"type":"string","format":"uuid","title":"email_id"},"name":"email_id","in":"query"},{"description":"Convert timestamps to human readable ISO format","required":false,"schema":{"type":"boolean","title":"iso_time","description":"Convert timestamps to human readable ISO format","default":false},"name":"iso_time","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Start time for the report, defaults to 7 days ago.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"start_time","description":"Start time for the report, defaults to 7 days ago."},"name":"start_time","in":"query"},{"description":"End time for the report, defaults to the current time.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"end_time","description":"End time for the report, defaults to the current time."},"name":"end_time","in":"query"},{"description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n","required":false,"schema":{"type":"string","title":"tags","description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n"},"name":"tags","in":"query"},{"description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n","required":false,"schema":{"type":"string","title":"providers","description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n"},"name":"providers","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `time`\n  - `submitted_time`\n  - `type`\n  - `provider`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `time`\n  - `submitted_time`\n  - `type`\n  - `provider`","default":"-time"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAPILogsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/emails-summary":{"get":{"tags":["Email API"],"summary":"Show Email API activity summary","operationId":"getEmailAPISummary","parameters":[{"required":false,"schema":{"type":"string","format":"uuid","title":"email_id"},"name":"email_id","in":"query"},{"required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/EmailAPISummaryEngagementEnum"}],"title":"engagement"},"name":"engagement","in":"query"},{"required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/EmailAPISummaryStatus"}],"title":"status"},"name":"status","in":"query"},{"description":"Convert timestamps to human readable ISO format","required":false,"schema":{"type":"boolean","title":"iso_time","description":"Convert timestamps to human readable ISO format","default":false},"name":"iso_time","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Start time for the report, defaults to 7 days ago.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"start_time","description":"Start time for the report, defaults to 7 days ago."},"name":"start_time","in":"query"},{"description":"End time for the report, defaults to the current time.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"end_time","description":"End time for the report, defaults to the current time."},"name":"end_time","in":"query"},{"description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n","required":false,"schema":{"type":"string","title":"tags","description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n"},"name":"tags","in":"query"},{"description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n","required":false,"schema":{"type":"string","title":"providers","description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n"},"name":"providers","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `submitted_time`","required":false,"schema":{"type":"string","title":"sort","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `submitted_time`","default":"-submitted_time"},"name":"sort","in":"query"},{"description":"Email address to filter by, with optional operator.\n\n#### Operators:\n==: Exact match (default)\n!=: Not equal\n~~: Like (anywhere in the email)\n!~: Not like (anywhere in the email)\n","required":false,"schema":{"type":"string","title":"email","description":"Email address to filter by, with optional operator.\n\n#### Operators:\n==: Exact match (default)\n!=: Not equal\n~~: Like (anywhere in the email)\n!~: Not like (anywhere in the email)\n","examples":["localpart@domain.com","~~@domain.com","!=@domain.com","~~localpart"]},"name":"email","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAPISummaryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v2/reports/emails":{"get":{"tags":["Email API"],"summary":"Show Email API statistics","description":"Generate email statistics for the Email API.\n\nStatistics are aggregated with a minimum granularity of 5 minutes. As a result, the\nreturned intervals may extend beyond the requested time range. Intervals are always\nwhole, except for the last interval if the requested end time is the current time.","operationId":"getEmailAPIStats","parameters":[{"required":false,"schema":{"$ref":"#/components/schemas/IntervalEnum","title":"interval"},"name":"interval","in":"query"},{"description":"Convert timestamps to human readable ISO format","required":false,"schema":{"type":"boolean","title":"iso_time","description":"Convert timestamps to human readable ISO format"},"name":"iso_time","in":"query"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"description":"Start time for the report.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"start_time","description":"Start time for the report."},"name":"start_time","in":"query"},{"description":"End time for the report.","required":false,"schema":{"type":"integer","maximum":2147483647.0,"minimum":1.0,"title":"end_time","description":"End time for the report."},"name":"end_time","in":"query"},{"description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n","required":false,"schema":{"type":"string","title":"providers","description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n"},"name":"providers","in":"query"},{"description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n","required":false,"schema":{"type":"string","title":"tags","description":"### Recursive Filter Query Language\n\nThe filter is a JSON object that represents a recursive query structure. It uses the logical operators `and`, `or`, `not` and `is` as keys, with the following types of values:\n\n1. **`object`**: A nested filter object that defines additional conditions.\n\n2. **`string`**: A condition expressed as a single string.\n\n3. **`array`**: An array of strings (conditions) or nested filter objects.\n\n\n- The `and` and `or` operators accept `object` and `array`\n\n- The `not` operator accepts `object` and `string`\n\n- The `is` operator accepts `object` and `string`\n\n### Examples\n\n#### 1. Simple condition with a string\n\n```json\n{ \"is\": \"condition1\" }\n ```\n\n #### 2. Array of strings\n\n```json\n{ \"or\": [\"condition1\", \"condition2\"] }\n```\n\n#### 3. Nested filter object\n\n```json\n{ \"not\": { \"and\": [\"condition1\", \"condition2\"] } }\n```\n\n#### 4. Complex recursive query\n\n```json\n{ \"and\": [ { \"or\": [\"condition1\", \"condition2\"] }, { \"not\": { \"and\": [\"condition3\", \"condition4\"] } } ] }\n```\n\n"},"name":"tags","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAPIStatsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/transactional-email-templates":{"get":{"tags":["Transactional Email"],"summary":"List Transactional Email Templates","description":"List Transactional Email Templates","operationId":"listTransactionalEmailTemplates","parameters":[{"required":true,"schema":{"type":"integer","title":"list_id"},"name":"list_id","in":"path"},{"description":"Optional Account ID to be used for the request","required":false,"schema":{"type":"integer","minimum":1.0,"title":"account_id","description":"Optional Account ID to be used for the request"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"per_page","default":50},"name":"per_page","in":"query"},{"description":"Include count in the response","required":false,"schema":{"type":"boolean","title":"with_count","description":"Include count in the response","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListTransactionalEmailTemplateResponse"}}}},"400":{"description":"Bad Request"
[...]
